//fonts
$golos: "Golos Text", sans-serif;

//color 
$white: #FFF;
$black: #000;
$black_text: #333;
$text_input: #343A40;
$black_title_form: #020105;
$orange: #FFB84D;
$light_black: #1A1A1A;
$red: #FF0000;
$blue: #3376C7;
$gray: #B3B3E3;
$gray_light: #F0F0F0;
$gray_border: #E6E6E6;
