.sidebar {
    min-width: 320px;
    max-width: 320px;
    width: 100%;
    padding: 12px 24px;

    .sidebar_menu {
        margin-top: 32px;
        color: $gray;
        font-family: $golos;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-transform: uppercase;
    }

    .sidebar_list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .sidebar_item {


        .sidebar_icon {
            color: $gray;
            font-size: 22px;
        }

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: 0.5s;

            .sidebar_text {
                color: $black_text;
                font-family: $golos;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                transition: 0.5s linear;
            }


            &:hover .sidebar_text {
                color: $blue;
            }
        }

        .active {
            .sidebar_text {
                color: $blue;
            }
        }


    }
}